{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block body %}

<!-- code related to About page -->
<div class="about-heading">
    <h1>ABOUT US</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Maxime earum debitis ipsam veniam a non.</p>


</div>
<div class="about-container">
<section class="about">
    <div class="about-img">
        <img src="https://images.pexels.com/photos/22940996/pexels-photo-22940996/free-photo-of-a-close-up-of-white-flowers-on-a-tree-branch.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
    <div class="about-content">
    <h2>Lorem ipsum dolor sit.</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, ad dignissimos dicta ut laudantium beatae hic  unde reiciendis tempore quae totam exercitationem cupiditate,  veritatis deleniti aperiam eaque inventore! Magnam, dolores.</p>



    <a href="" class="read-more">Read More</a>

</div>
</section>
</div>

{% endblock body %}