

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'login.css' %}"> 
</head>
<body>
    <div class="lcontainer">
        <form action="#">
          <h2>Login</h2>
          <div class="input-lcontainer">
            <input type="text" placeholder="Email or phone number" name="email" required>
          </div>
          <div class="input-lcontainer">
            <input type="password" placeholder="Password" name="password" required>
          </div>
          <button type="submit" class="btn">Login</button>
          <p class="forgot-password">Forgot password?</p>
          <div class="signup-lcontainer">
            <p>Don't have an account? <a href="#">Sign up</a></p>
          </div>
        </form>
      </div>
      
</body>
</html>
