{% extends "base.html" %}

{% block title %} Contact {% endblock title %}

{% block body %} 

<!-- <div class="re">
    <h1>REVIEWS</h1>
    <div class="borderr"></div>
    </div> -->

<header>
    
    <div class="containers">
    <div class="container-left">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Read what our customers love about us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur  <br>
            adipisicing elit. Alias, ut!</p>
            <p>Lorem ipsum dolor sit amet, consectetur  <br>
                adipisicing elit. Alias, ut!</p>
                <button>Read our success stories</button>
    </div>
    <div class="container-right">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="cards">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="user">
            <div class="card-content">
                <span><i class="ri-double-quotes-l"></i></span>
                <div class="card-details">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Iusto quidem rerum commodi ratione earum.</p>
                    <h4> - Cristiano Ronaldo</h4>
                </div>

            </div>
        </div>
        <div class="cards">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="user">
            <div class="card-content">
                <span><i class="ri-double-quotes-l"></i></span>
                <div class="card-details">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Iusto quidem rerum commodi ratione earum.</p>
                    <h4>  - Cristiano Ronaldo</h4>
                </div>

            </div>
        </div>
        <div class="cards">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="user">
            <div class="card-content">
                <span><i class="ri-double-quotes-l"></i></span>
                <div class="card-details">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Iusto quidem rerum commodi ratione earum.</p>
                    <h4> - Cristiano Ronaldo</h4>
                </div>

            </div>
        </div>
        {% comment %} <div class="cards">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="user">
            <div class="card-content">
                <span><i class="ri-double-quotes-l"></i></span>
                <div class="card-details">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Iusto quidem rerum commodi ratione earum.</p>
                    <h4>  - Cristiano Ronaldo</h4>
                </div>

            </div>
        </div> {% endcomment %}
    </div>
</div>
</header>



<!-- code related to Contact page -->

{% endblock body %}
