<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

   <!--=============== CSS ===============-->
   {% load static %}
   <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

   <title>Website | Sign Up</title>
</head>
<body>
   <div class="login">
      <img src="{% static 'assets/img/login-bg.png' %}" alt="image" class="login__bg">

      <form action="{% url 'sign_up' %}" method="post" class="login__form">
         {% csrf_token %}
         <h1 class="login__title">Sign Up</h1>

         <div class="login__inputs">
            <div class="login__box">
               <input type="text" placeholder="Username" name="username" required class="login__input" value="{{ form.username.value|default:'' }}">
               <i class="ri-user-fill"></i>
            </div>
             {% if form.username.errors %}
                  <p class="error">{{ form.username.errors.0 }}</p>
             {% endif %}

            <div class="login__box">
               <input type="email" placeholder="Email" name="email" required class="login__input" value="{{ form.email.value|default:'' }}">
               <i class="ri-mail-fill"></i>
            </div>
             {% if form.email.errors %}
                 <p class="error">{{ form.email.errors.0 }}</p>
             {% endif %}

            <div class="login__box">
               <input type="password" placeholder="Password" name="password1" required class="login__input">
               <i class="ri-lock-2-fill"></i>
            </div>
             {% if form.password1.errors %}
                 <p class="error">{{ form.password1.errors.0 }}</p>
             {% endif %}

            <div class="login__box">
               <input type="password" placeholder="Confirm Password" name="password2" required class="login__input">
               <i class="ri-lock-2-fill"></i>
            </div>
             {% if form.password2.errors %}
                  <p class="error">{{ form.password2.errors.0 }}</p>
             {% endif %}
         </div>

         <div class="login__check">
            <div class="login__check-box">
               <input type="checkbox" class="login__check-input" id="user-check" name="check" required>
               <label for="user-check" class="login__check-label">Accept terms and conditions</label>
            </div>
             {% if form.check.errors %}
                 <p class="error">{{ form.check.errors.0 }}</p>
             {% endif %}
         </div>

         <button type="submit" class="login__button">Sign Up</button>
         {% if error %}
            <p class="error">{{ error }}</p>
         {% endif %}

      </form>
   </div>
</body>
</html>
