
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'Sign_up.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="circle"></div>
    <div class="circle1"></div>
</div>

<form action="">

<div class="cont">
    <div class="design">
      <div class="form-img">
          <img src="https://images.pexels.com/photos/3073666/pexels-photo-3073666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" >
      </div>
        <div class="login">
            <div class="media-icons">
                <i class="ri-lock-2-line"></i>
            </div>
            <h3> WELCOME TO </h3>
            <br>
            <br>
            <h1>NATURE</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Laudantium!</p>
            <input type="text" placeholder="Eamil"  id="email">
            <div class="mediaa-icons">
                <i class="ri-contacts-fill"></i>
            </div>
             <input type="password" placeholder="Password" id="password">
            <button type="submit">sign up</button>
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <h5>Or</h5>
            <h6>continue with social media</h6>
            <div class="">
                <br>
            <div class="icon">
                <i class="ri-facebook-line"></i >
            </div>
            <div class="icon">
                <i class="ri-twitter-line"></i >
            </div>
            <div class="icon">
                <i class="ri-mail-line"></i>
            </div>
            <div class="icon">
                <i class="ri-linkedin-fill"></i>
            </div>
            </div>
            

        
        </div>
        <div class="right-section">
            <div class="sign">
            <i class="ri-infinity-line"></i>
            </div>
            <h1>NATURE</h1>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Adipisci ratione laudantium  facere eius provident,  <br>consequuntur odit?</p>
        </div>
    </div>
  </div>
</form>



