/* --------------------------------------login page start--------------------------------------------------- */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    opacity: 0.87;
    background-image: url(https://images.unsplash.com/photo-1510495953850-ddd057203644?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  
  .lcontainer {
    max-width: 350px;
    margin: 100px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form h2 {
    text-align: center;
  }
  
  .input-lcontainer {
    margin-bottom: 20px;
  }
  
  .input-lcontainer input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 100%;
  }
  
  .btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background-color: #bd081c;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #8e0614;
  }
  
  .forgot-password {
    text-align: center;
  }
  
  .signup-lcontainer {
    text-align: center;
  }
  
  .signup-lcontainer a {
    color: #bd081c;
    text-decoration: none;
  }
  
  @media screen and (max-width: 600px) {
    .lcontainer {
      max-width: 700px;
    }
  }
  

/* --------------------------------------review or login page end--------------------------------------------------- */
