*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eeeeea;
        overflow-x: hidden;
        font-family: poppins;
        overflow-y: hidden;
        overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
 font-family: 'Afacad', sans-serif;
}
/* .container{
    position: relative;
} */
.circle{
    position: relative;
    width: 500px;
    height: 500px;
    background: radial-gradient(#FF512F,#b31217,#f7797d);
    border-radius: 300px;
    top:-60px;
    left:-100px;
    
}
.circle1{
    position: relative;
    width: 500px;
    height: 500px;
    background: radial-gradient(#FF512F,#b31217,#f7797d);
    border-radius: 300px;
    /* top:300px; */
   /* right:-1200px; */
    left: 110px;
    float: right;
}

.cont{
width: 70%;
height:600px;

position: absolute;
/* display: grid; */
grid-template-columns: 100%;
box-shadow: 0 0 17px 10px rgb(0,0,0,30%) ;
transform: translate(20%,-72%);
border-radius: 20px;
background: #fff;

}
img{
width: 50%;
/* padding: 20px 10px; */
height: 600px;
/* margin-top: -5x; */

border-radius: 20px 0px 0 10px;
position: relative;
background-color: rgba(0,0,0,0.648);

}
.login{
display: flex;
flex-direction: column;
align-items: center;

justify-content: center;
position: absolute;
margin-top: 40px;
left: 610px;
top: 0;
}
.right-section{
top: 20px;
left: 70px;
position: absolute;
display: flex;
flex-direction: column;
align-items: center;

justify-content: center;
padding: 20px;
}
.login h3{
color: rgb(71, 67, 67);
font-size: 20px;
}
.login h1{
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image:linear-gradient(to right, #f7797d 20%,#b31217 3%, #ff4e50 100%);
font-size: 50px;
margin-top: -25px;
}
.login p{
color: rgb(70, 66, 66);
font-size: 17px;
margin-top: -10px;
text-align: center;
}
input{
border-radius: 20px;
padding: 10px 40px;
border: 1px solid black;
gap: 10px;
display: flex;
align-items: center;
margin: 5px;
}
button{
padding: 10px 100px ;
    border: 1px solid #ff4e50;   
    border-radius: 20px;       
 font-size: 16px;
color: #fff;
background-color:#b31217;
margin-top: 5px;
}
.login span{
color: rgb(81, 76, 76);
margin-top: 20px;
}
h5{
margin: 100px auto;
text-align: center;
position: relative;
max-width: 600px;
font-size: 15px;
margin-top: 10px;
}
/* h5:before{
content: "";
display: block;
width: 120px;
height: 1px;
position: absolute;
left: 25px;
top: 50%;
background: #6d6b6b;
} */
/* h5::after{
content: "";
display: block;
width: 120px;
height: 1px;
position: absolute;
top: 10px;
right: 25px;
background:#6d6b6b ;
} */
.login h6{
margin-top: -90px;
font-size: 15px;
color: #6d6b6b;
position: relative;
}
.icon{
border-radius: 50%;
width: 20px;
height: 20px;
background-color: #ff4e50;
padding: 10px;
display: inline;
margin: 0 5px;
/* box-shadow:  0 0 20px 10px rgba(0,0,0,0.5); */
box-shadow: 0 0 10px 2px rgb(0,0,0,30%) ;
text-align: center;
}
.sign{
font-size: 100px;
color: #fff;
}
.right-section h1{
color: #fff;
margin-top: -20px;
}
.right-section p{
color: #fff;
margin-top: -10px;
text-align: center;
}

.media-icons{
font-size: 20px;
position: absolute;
bottom: 189px;
left: 97px;
color: gray;
font-size: 16px;
}
.mediaa-icons{
font-size: 20px;
position: absolute;
margin-top: -80px;
left: 100px;
color: gray;
font-size: 16px;
}